<div class='container'>
    <h1 class="text-center my-3">View All Cards</h1>
    <div class="input-group mb-3">
      <button type="button" class="btn btn-primary btn-lg me-5" style="background-color:green" (click)="open(cardModal, null)">Create</button>
      <span class="col-xs-1 col-md-4 col-lg-6 col-xl-7"></span>
      <input type="text" id="searchBar" class="form-control col-sm-2 col-lg-3" [(ngModel)]="searchCriteria" (keydown.enter)="search()" placeholder="Search" aria-label="Search" aria-describedby="searchButton">
      <button class="btn btn-outline-secondary btn-small" type="button" id="searchButton" (click)="this.search()">Search</button>
    </div>

    <table class='table table-striped table-hover table-active border border-secondary shadow-lg'>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" (click)="addToSortBy('cardId')">
          Card Id
          {{this.sortByCardId === true ? this.cardIdOrder === 'asc' ? ' ↑' : ' ↓' : ''}}
        </th>
        <th scope="col" (click)="addToSortBy('balance')">
          Balance
          {{this.sortByBalance === true ? this.balanceOrder === 'asc' ? ' ↑' : ' ↓' : ''}}
        </th>
        <th scope="col" (click)="addToSortBy('createDate')">
          Create Date
          {{this.sortByCreateDate === true ? this.createDateOrder === 'asc' ? ' ↑' : ' ↓' : ''}}
        </th>
        <th id='edit title'>Edit</th>
        <th id='delete title'>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of cards; let i=index">
        <td>{{ i+1 }}</td>
        <td>{{ c.$nickname }}</td>
        <td>{{ c.$balance.toString() }}</td>
        <td>{{ c.$createDate }}</td>
        <td><button type="button" class="btn btn-secondary" (click)="open(cardModal, c)">Edit</button></td>
        <td><button type="button" class="btn btn-danger" (click)="deleteCard(c.$cardId)">Delete</button></td>
      </tr>
      </tbody>
    </table>
    <div class="mb-5">
      <mat-paginator class="my-5" [length]="this.totalItems" [pageIndex]="this.pageIndex" [pageSizeOptions]="[5, 10, 15, 20, 25, 50]"
                     [pageSize]="this.pageSize" [showFirstLastButtons]="true" (page)="onChangePage($event)"></mat-paginator>
    </div>
  </div>

  <ng-template #cardModal let-c="close" let-d="dismiss">
    <form [formGroup]="cardForm" (ngSubmit)="saveCard(); closeModal()">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ modalHeader }}</h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="mb-2" *ngIf="this.modalHeader === 'Edit Card';">
                <label for="cardId" class="form-label">Card ID: </label>
                <input type="text" id="cardId" formControlName="cardId" class="form-control" readonly/>
              </div>
              <div class="mb-2">
                <label for="userId" class="form-label">User ID: </label>
                <input type="text" id="userId" formControlName="userId" class="form-control" [readonly]="this.modalHeader === 'Edit Card'"/>
              </div>
              <div class="input-group mb-2">
                <label class="input-group-text" for="cardType">Card Type: </label>
                <select class="form-select" id="cardType" formControlName="cardType" [(ngModel)]="selectedCardType" >
                  <option *ngFor="let c of cardtypes;" value="{{ c.$id }}">
                    {{ c.$typeName }}: {{ c.$baseInterestRate }}
                  </option>
                </select>
              </div>
              <div class="mb-2" *ngIf="this.modalHeader === 'Edit Card';">
                <label for="balance" class="form-label">Balance: </label>
                <input type="text" id="balance" formControlName="balance" class="form-control" readonly/>
              </div>
              <div class="mb-2" *ngIf="this.modalHeader === 'Edit Card';">
                <label for="cardNumber" class="form-label">Card Number: </label>
                <input type="text" id="cardNumber" formControlName="cardNumber" class="form-control" readonly/>
              </div>
              <div class="mb-2">
                <label for="interestRate" class="form-label">Interest Rate: </label>
                <input type="text" id="interestRate" formControlName="interestRate" class="form-control"/>
              </div>
              <div class="mb-2" *ngIf="this.modalHeader === 'Edit Card';">
                <label for="createDate" class="form-label">Create Date: </label>
                <input type="text" id="createDate" formControlName="createDate" class="form-control" readonly/>
              </div>
              <div class="mb-2">
                <label for="nickname" class="form-label">Nickname: </label>
                <input type="text" id="nickname" formControlName="nickname" class="form-control"/>
                <div *ngIf="nickname?.invalid && (nickname?.dirty || nickname?.touched)">
                  <div *ngIf="nickname?.errors?.required">
                    <small class="text-danger">nickname is required</small>
                  </div>
                  <div *ngIf="nickname?.errors?.maxlength">
                    <small class="text-danger">nickname cannot be longer than 20 characters</small>
                  </div>
                </div>
              </div>
              <div class="mb-2">
                <label for="billCycleLength" class="form-label">Bill Cycle Length: </label>
                <input type="text" id="billCycleLength" formControlName="billCycleLength" class="form-control"/>
                <div *ngIf="billCycleLength?.invalid && (billCycleLength?.dirty || billCycleLength?.touched)">
                  <div *ngIf="billCycleLength?.errors?.required">
                    <small class="text-danger">bill cycle length is required</small>
                  </div>
                  <div *ngIf="billCycleLength?.errors?.maxlength">
                    <small class="text-danger">bill cycle length cannot be longer than 20 characters</small>
                  </div>
                </div>
              </div>
              <div class="mb-2" *ngIf="this.modalHeader === 'Edit Card';">
                <label for="expireDate" class="form-label">Expire Date: </label>
                <input type="text" id="expireDate" formControlName="expireDate" class="form-control" readonly/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="closeModal(); initializeForms()"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="!this.cardForm">Save changes</button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
