<div class='container'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <h1 class="text-center mb-2">View All Users</h1>
    <div class="input-group mb-3">
        <button type="button" class="btn btn-primary btn-lg me-5" style="background-color:green"
            (click)="open(updateUserModal, null)">Create new User</button>
        <span class="col-xs-1 col-md-4 col-lg-6 col-xl-7"></span>
        <button type="submit" (click)="refresh()" class="btn btn-outline-secondary btn-small">
            <mat-icon>refresh</mat-icon>
        </button>
        <input type="inpu-group-text" id="searchBar" class="form-control col-sm-2 col-lg-3" [(ngModel)]="searchCriteria"
      (keydown.enter)="search()" placeholder="Search" aria-label="Search" aria-describedby="searchButton">
        <button type="input" class="btn btn-outline-secondary btn-small" (click)="loadUsers()">Search</button>
    </div>
    <table class='table table-striped table-hover table-active border border-secondary shadow-lg'>
        <thead>
            <tr>
                <th *ngIf="width > 900" scope="col">#</th>
        <th *ngIf="width > 450" scope="col" (click)="addToSortBy('firstname')">
          First Name
          {{this.sortByFirstname === true ? this.firstnameOrder === 'asc' ? ' ↑' : ' ↓' : ''}}
        </th>
        <th *ngIf="width > 350" scope="col" (click)="addToSortBy('lastname')">
            Last Name
            {{this.sortByLastname === true ? this.lastnameOrder === 'asc' ? ' ↑' : ' ↓' : ''}}
          </th>
          <th *ngIf="width > 300" scope="col" (click)="addToSortBy('id')">
            User Id
            {{this.sortByUserId === true ? this.userIdOrder === 'asc' ? ' ↑' : ' ↓' : ''}}
          </th>
          <th *ngIf="width > 900" scope="col" (click)="addToSortBy('username')">
            Username
            {{this.sortByUsername === true ? this.usernameOrder === 'asc' ? ' ↑' : ' ↓' : ''}}
          </th>
          <th *ngIf="width > 1100" scope="col" (click)="addToSortBy('email')">
            Email
            {{this.sortByEmail === true ? this.emailOrder === 'asc' ? ' ↑' : ' ↓' : ''}}
          </th>
          <th *ngIf="width > 800" scope="col" (click)="addToSortBy('phone')">
            Phone
            {{this.sortByPhone === true ? this.phoneOrder === 'asc' ? ' ↑' : ' ↓' : ''}}
          </th>
          <th *ngIf="width > 900" scope="col" (click)="addToSortBy('dob')">
            Date of Birth
            {{this.sortByDateOfBirth === true ? this.dateOfBirthOrder === 'asc' ? ' ↑' : ' ↓' : ''}}
          </th>
          <th *ngIf="width > 800" scope="col" (click)="addToSortBy('role')">
            Role
            {{this.sortByRole === true ? this.roleOrder === 'asc' ? ' ↑' : ' ↓' : ''}}
          </th>
                <!-- <th *ngFor="let a of userField" scope="col" [class]="a.class" (click)="setSort(a.name)">
                    {{a.displayName}}
                    <span *ngIf="sort === a.name">
                        {{asc ? ' ↑' : ' ↓'}}
                    </span>
                </th> -->
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users; let i=index">
                <td *ngIf="width > 900">{{ i+1 }}</td>
                <td *ngIf="width > 450">{{ u.$firstName }}</td>
                <td *ngIf="width > 350">{{ u.$lastName }}</td>
                <td *ngIf="width > 300">{{ u.$userId }}</td>
                <td *ngIf="width > 900">{{ u.$username }}</td>
                <td *ngIf="width > 1100">{{ u.$email }}</td>
                <td *ngIf="width > 800">{{ u.$phone }}</td>
                <td *ngIf="width > 900">{{ u.$dateOfBirth }}</td>
                <td *ngIf="width > 800">{{ u.$role }}</td>
                <td><button type="button" class="btn btn-secondary" (click)="open(updateUserModal, u)">Edit</button>
                </td>
                <td><button type="button" class="btn btn-danger" (click)="deleteUser(u.$userId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mb-5">
        <mat-paginator class="my-5" [length]="this.totalItems" [pageIndex]="this.pageIndex"
            [pageSizeOptions]="[5, 10, 15, 20, 25, 50]" [pageSize]="this.pageSize" [showFirstLastButtons]="true"
            (page)="onChangePage($event)"></mat-paginator>
    </div>

    <ng-template #updateUserModal let-c="close" let-d="dismiss">
        <form [formGroup]="updateUserForm" (ngSubmit)="saveUser()">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ modalHeader }}</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="mb-2">
                                <label for="username" class="form-label">Username: </label>
                                <input type="text" id="username" formControlName="username" class="form-control"
                                    required />
                                <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                                    <div *ngIf="username?.errors?.required">
                                        <small class="text-danger">username is required</small>
                                    </div>
                                    <div *ngIf="username?.errors?.maxlength">
                                        <small class="text-danger">username cannot be longer than 20 characters</small>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="password" class="form-label">Password: </label>
                                <input type="text" id="password" formControlName="password"
                                    class="form-control sr-only" />
                                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                                    <div *ngIf="password?.errors?.required">
                                        <small class="text-danger">password is required</small>
                                    </div>
                                    <div *ngIf="password?.errors?.maxlength">
                                        <small class="text-danger">password cannot be longer than 20 characters</small>
                                    </div>
                                    <div *ngIf="password && password?.errors?.minlength">
                                        <small class="text-danger">password must contain at least 8 characters</small>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="email" class="form-label">Email: </label>
                                <input type="text" id="email" formControlName="email" class="form-control" />
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                                    <div *ngIf="email?.errors?.required">
                                        <small class="text-danger">email is required</small>
                                    </div>
                                    <div *ngIf="email?.errors?.maxlength">
                                        <small class="text-danger">email cannot be longer than 30 characters</small>
                                    </div>
                                    <div *ngIf="email?.errors?.pattern">
                                        <small class="text-danger">email must be in correct format</small>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="phone" class="form-label">Phone: </label>
                                <input type="text" id="phone" formControlName="phone" class="form-control" />
                                <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
                                    <div *ngIf="phone?.errors?.required">
                                        <small class="text-danger">phone number is required</small>
                                    </div>
                                    <div *ngIf="phone?.errors?.maxlength || phone?.errors?.minlength">
                                        <small class="text-danger">phone number must be 10 characters</small>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="dateOfBirth" class="form-label">Date of Birth: </label>
                                <input type="date" id="dateOfBirth" formControlName="dateOfBirth"
                                    class="form-control" />
                                <div *ngIf="dateOfBirth?.invalid && (dateOfBirth?.dirty || dateOfBirth?.touched)">
                                    <div *ngIf="dateOfBirth?.errors?.required">
                                        <small class="text-danger">date of birth is required</small>
                                    </div>
                                    <div *ngIf="username?.errors?.maxlength">
                                        <small class="text-danger">date of birth must be in correct format</small>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="firstName" class="form-label">First Name: </label>
                                <input type="text" id="firstName" formControlName="firstName" class="form-control" />
                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
                                    <div *ngIf="firstName?.errors?.required">
                                        <small class="text-danger">first name is required</small>
                                    </div>
                                    <div *ngIf="firstName?.errors?.maxlength">
                                        <small class="text-danger">first name cannot be longer than 20
                                            characters</small>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="lastName" class="form-label">Last Name: </label>
                                <input type="text" id="lastName" formControlName="lastName" class="form-control" />
                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
                                    <div *ngIf="lastName?.errors?.required">
                                        <small class="text-danger">last name is required</small>
                                    </div>
                                    <div *ngIf="lastName?.errors?.maxlength">
                                        <small class="text-danger">last name cannot be longer than 20 characters</small>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-2">
                                <label class="input-group-text" for="role">Role</label>
                                <select class="form-select" id="role" formControlName="role">
                                    <option value="user">User</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal();">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary" [disabled]="!updateUserForm.valid">Save
                            changes</button>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>