<div class="container">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <h1 class="text-center mb-2">View All Accounts</h1>
    <div class="input-group mb-3">
        <button type="button" class="btn btn-primary btn-lg me-5" style="background-color:green"
            (click)="open(updateAccountModal, null)">Create new Account</button>
        <span class="col-xs-1 col-md-4 col-lg-6 col-xl-7"></span>
        <button type="submit" (click)="refresh()" class="btn btn-outline-secondary btn-small">
            <mat-icon>refresh</mat-icon>
        </button>
        <input type="text" class="form-control col-sm-2 col-lg-3" [ngModel]="search" (ngModelChange)="setSearch($event)"
            placeholder="Search">
        <button type="input" class="btn btn-outline-secondary btn-small" (click)="update()">Search</button>
    </div>
    <table description='table header accounts'
        class="table table-responsive-sm table-striped table-hover table-active border border-secondary shadow-lg">
        <thead>
            <tr>
                <ng-container *ngIf="width > 1050">
                    <th scope="col-1">#</th>
                </ng-container>
                <ng-container *ngIf="width > 500">
                    <th>UserId</th>
                </ng-container>
                <ng-container *ngIf="width > 300">
                    <th scope="col-1">Account Id</th>
                </ng-container>
                <ng-container *ngIf="width > 500">
                    <th scope="col-1">Is Active</th>
                </ng-container>
                <ng-container *ngIf="width > 400">
                    <th scope="col-1">Balance</th>
                </ng-container>
                <ng-container *ngIf="width > 900">
                    <th scope="col-1">Date Created</th>
                </ng-container>
                <ng-container *ngIf="width > 950">
                    <th scope="col-1">Interest</th>
                </ng-container>
                <ng-container *ngIf="width > 1050">
                    <th scope="col-1">Nickname</th>
                </ng-container>
                <ng-container *ngIf="width > 850">
                    <th scope="col-1">Type</th>
                </ng-container>
                <ng-container *ngFor="let a of account">
                    <!-- <th scope="col-1" [class]="a.class" (click)="setSort(a.name)">
                        <ng-container class="a.class" *ngIf="width > a.maxWidth">
                            {{a.displayName}}
                        </ng-container>
                        <ng-container *ngIf="sort === a.name && width > a.maxWidth">
                            {{asc ? ' ↑' : ' ↓'}}
                        </ng-container>
                    </th> -->
                </ng-container>
                <th class="col-1" id="edit title">Edit</th>
                <th class="col-1" id="delete title">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of accounts; let i=index">
                <td *ngIf="width > 1050">{{ i+1 }}</td>
                <td class="col-1" *ngIf="width > 500">{{ a.$user.userId }}</td>
                <td *ngIf="width > 300">{{ a.$id }}</td>
                <td *ngIf="width > 500">{{ a.$activeStatus }}</td>
                <td class="col-1" *ngIf="width > 400">{{ a.$balance.toString() }}</td>
                <td *ngIf="width > 900">{{ a.$createDate }}</td>
                <td *ngIf="width > 950">{{ a.$interest }}%</td>
                <td *ngIf="width > 1050">{{ a.$nickname }}</td>
                <!-- <td>{{ a.$type.description }}</td> -->
                <td *ngIf="width > 850">{{ a.$type.name }}</td>
                <td>
                    <button type="button" class="btn btn-secondary" (click)="open(updateAccountModal, a)">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deactivateAccount(a.$id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mb-5">
        <mat-paginator class="my-5" [length]="this.totalItems" [pageIndex]="this.pageIndex"
            [pageSizeOptions]="[5, 10, 15, 20, 25, 50]" [pageSize]="this.pageSize" [showFirstLastButtons]="true"
            (page)="onChangePage($event)"></mat-paginator>
    </div>
</div>


<ng-template #updateAccountModal let-c="close" let-d="dismiss">
    <form [formGroup]="updateAccountForm" (ngSubmit)="saveAccount()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ modalHeader }}</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div *ngIf="editing" class="input-group mb-2">
                            <label for="id" class="input-group-text">Id: </label>
                            <input type="text" id="id" formControlName="id" class="form-control" readonly="readonly" />
                        </div>
                        <div *ngIf="editing" class="input-group mb-2">
                            <label for="userId" class="input-group-text">UserId: </label>
                            <input type="text" id="userId" formControlName="userId" class="form-control" required
                                readonly="readonly" />
                        </div>
                        <div *ngIf="!editing" class="input-group mb-2">
                            <label for="userId" class="input-group-text">UserId: </label>
                            <input type="text" id="userId" formControlName="userId" class="form-control" required />
                        </div>
                        <div *ngIf="editing" class="input-group mb-2">
                            <label for="type" class="input-group-text">Account Type: </label>
                            <input type="text" id="type" formControlName="type" class="form-control"
                                readonly="readonly" />
                        </div>
                        <div *ngIf="!editing" class="input-group mb-2">
                            <label class="input-group-text" for="type">Account Type</label>
                            <select class="form-select" id="type" formControlName="type">
                                <option value="SuperSaver">SuperSavers</option>
                                <option value="CoolCash">CoolCash</option>
                                <option value="Recovery">Recovery</option>
                            </select>
                        </div>
                        <div *ngIf="!editing" class="input-group mb-2">
                            <label for="description" class="input-group-text">Custom Description: </label>
                            <textarea type="text" id="description" formControlName="description"
                                class="form-control sr-only"></textarea>
                        </div>
                        <!-- <div *ngIf="editing" class="input-group mb-2">
                            <label for="description" class="input-group-text">Description: </label>
                            <textarea type="text" id="description" formControlName="description"
                                class="form-control sr-only"></textarea>
                        </div> -->
                        <div class="input-group mb-2">
                            <label for="interest" class="input-group-text">Interest Rate: </label>
                            <input type="number" step="0.01" id="interest" formControlName="interest"
                                class="form-control" />
                            <div *ngIf="interest?.invalid && (interest?.dirty || interest?.touched)">
                                <div *ngIf="interest?.errors?.required">
                                    <small class="text-danger">Interest is required</small>
                                </div>
                            </div>
                            <div class="input-group-append">
                                <label for="interestSymbol" class="input-group-text">%</label>
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <label for="nickname" class="input-group-text">Nickname: </label>
                            <input type="text" id="nickname" formControlName="nickname" class="form-control" />
                        </div>
                        <div *ngIf="!editing" class="input-group mb-2">
                            <button class="btn btn-secondary" type="button" (click)="requestAccount()">Activate
                                Account</button>
                            <label *ngIf="depositReady" class="input-group-text" id="depositTitle">Enter an Initial
                                Deposit:</label>
                        </div>
                        <div *ngIf="editing || depositReady" class="input-group mb-2">
                            <label for="balance" class="input-group-text">Balance: </label>
                            <label for="balance" class="input-group-text">$</label>
                            <input type="number" step="0.01" id="balance" formControlName="balance"
                                class="form-control sr-only" />
                            <div *ngIf="balance?.invalid && (balance?.dirty || balance?.touched)">
                                <div *ngIf="balance?.errors?.required">
                                    <small class="text-danger">Balance is required. It can be 0</small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="editing || depositReady" class="input-group mb-2">
                            <div class="input-group-text">
                                <label for="activeStatus">Active Status:</label>
                                <input type="checkbox" id="activeStatus" formControlName="activeStatus" value="true" />
                            </div>
                        </div>
                        <div *ngIf="editing || depositReady" class="input-group mb-2">
                            <label for="createDate" class="input-group-text">Creation Date: </label>
                            <input type="text" id="createDate" formControlName="createDate" class="form-control"
                                readonly="readonly" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">
                            Close
                        </button>
                        <button *ngIf="editing || depositReady" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>