<div class="container">
    <h1 class="text-center mb-2">View All Accounts</h1>
    <h3>
        <td><button type="button" class="btn btn-primary btn-lg me-5" style="background-color:green"
                (click)="open(updateAccountModal, null)">Create new Account</button>
        </td>
    </h3>

    <div *ngIf="data.status === 'success'">
        <div class="row mb-3">
            <div class="col-md-7">
            </div>
            <div class="col-md-3 mt-auto">
                <div class="input-group mb-3">
                    <input type="text" class="form-control col-sm-2 col-lg-3" 
                    [ngModel]="search"(ngModelChange)="setSearch($event)" placeholder="Search">
                    <button type="input" class="btn btn-outline-secondary btn-small" (click)="update()">Search</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover table-active border border-secondary shadow-lg">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th *ngFor="let a of account" scope="col" [class]="a.class" (click)="setSort(a.name)">
                    {{a.displayName}}
                    <span *ngIf="sort === a.name">
                        {{asc ? ' ↑' : ' ↓'}}
                    </span>
                </th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of accounts; let i=index">
                <td>{{ i+1 }}</td>
                <td>{{ a.$userId }}</td>
                <td>{{ a.$accountId }}</td>
                <td>{{ a.$activeStatus }}</td>
                <td>${{ a.$balance }}</td>
                <td>{{ a.$createDate }}</td>
                <td>{{ a.$interest }}%</td>
                <td>{{ a.$nickname }}</td>
                <td>{{ a.$type }}</td>
                <td>
                    <button type="button" class="btn btn-secondary" (click)="open(updateAccountModal, a)">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"
                        (click)="deactivateAccount(a.$accountId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mb-5">
        <mat-paginator class="my-5" [length]="this.totalItems" [pageIndex]="this.pageIndex"
            [pageSizeOptions]="[5, 10, 15, 20, 25, 50]" [pageSize]="this.pageSize" [showFirstLastButtons]="true"
            (page)="onChangePage($event)"></mat-paginator>
    </div>
</div>


<ng-template #updateAccountModal let-c="close" let-d="dismiss">
    <form [formGroup]="updateAccountForm" (ngSubmit)="saveAccount()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ modalHeader }}</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="mb-2">
                            <label for="accountId" class="form-label">AccountId: </label>
                            <input type="text" id="accountId" formControlName="accountId" class="form-control"  readonly="readonly"/>
                        </div>
                        <div class="mb-2">
                            <label for="userId" class="form-label">UserId: </label>
                            <input type="text" id="userId" formControlName="userId" class="form-control" required />
                            <div *ngIf="userId?.invalid && (userId?.dirty || userId?.touched)">
                                <div *ngIf="userId?.errors?.required">
                                    <small class="text-danger">userId is required</small>
                                </div>
                                <div *ngIf="userId?.errors?.maxlength">
                                    <small class="text-danger">userId should be a standard UUID string</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="balance" class="form-label">Balance: </label>
                            <input type="text" id="balance" formControlName="balance" class="form-control sr-only" />
                            <div *ngIf="balance?.invalid && (balance?.dirty || balance?.touched)">
                                <div *ngIf="balance?.errors?.required">
                                    <small class="text-danger">Balance is required. It can be 0</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="activeStatus">Active Status:</label>
                            <input type="checkbox" id="activeStatus" formControlName="activeStatus" />
                        </div>
                        <div class="mb-2">
                            <label for="createDate" class="form-label">Creation Date: </label>
                            <input type="date" id="createDate" formControlName="createDate" class="form-control" />
                            <div *ngIf="createDate?.invalid && (createDate?.dirty || createDate?.touched)">
                                <div *ngIf="createDate?.errors?.required">
                                    <small class="text-danger">creation date is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="interest" class="form-label">Interest Rate: </label>
                            <input type="text" id="interest" formControlName="interest" class="form-control" />
                            <div *ngIf="interest?.invalid && (interest?.dirty || interest?.touched)">
                                <div *ngIf="interest?.errors?.required">
                                    <small class="text-danger">Interest is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="nickname" class="form-label">Nickname: </label>
                            <input type="text" id="nickname" formControlName="nickname" class="form-control" />
                        </div>
                        <div class="input-group mb-2">
                            <label class="input-group-text" for="type">Account Type</label>
                            <select class="form-select" id="type" formControlName="type">
                                <option value="Savings">Savings</option>
                                <option value="Checking">Checking</option>
                                <option value="Recovery">Recovery</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>